@import "reset.css";
@import "components.css";

/* || NAV BAR */ 
nav {
    height: 55px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
    color: black;
    padding: 30px 0px 30px 25px;
}

nav a {
    margin-right: 20px;
}
.nav-left {
    height: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-around;
}

.nav-right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.flex-start {
    justify-self: start;
}

/* || MAIN CONTENT */ 

body {
    height: 100vh;
}

main {
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    height: 350px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main #search-bar {
    margin-bottom: 25px;
}

.click-me {
    background: rgb(114, 114, 114);
    color: white;
}
.buttons {
    margin-bottom: 15px;
}
button {
    cursor: pointer;
    font-size: 13px;
    border-radius: 3px;
    padding: 0 20px;
    height: 40px; 
    border: 1px solid transparent;
    margin-right: 10px;
    color: rgb(65, 65, 65);
    background: rgba(235, 235, 235, 0.336);
}

button:hover {
    border: 1px solid rgb(235, 235, 235); 
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.09);
}

.container p {
    font-size: 11px;
}

.container p a {
    color: blue;
}
.container img {
    margin-bottom: 40px;
}
/* || FOOTER */ 
footer {
    position: absolute; 
    bottom: 0;
    width: 100%;
    height: 55px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    background: rgba(235, 235, 235, 0.568);
    border-top: 1px solid rgba(202, 202, 202, 0.336);
}

footer a {
    margin-right: 20px;
    color: rgb(122, 122, 122);
    font-size: 12px;
}
.footer-left {
    height: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-around;
}

.footer-right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 1200px) {
    footer {
        padding: 0 15%;
    }
}

@media (max-width: 850px) {
    footer {
        height: 100px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .footer-left {
        height: 50%;
    }
    .footer-right {
        height: 50%;
    }
}